

/*****************************/		
/*        GENERAL             *
/*****************************/	

body { 
	background-image: url('../images/bg-gradient.jpg');
	background-repeat: repeat-x;
	background-color: #b5bec7;
}

.container { 
	width: 770px;
	margin: 0 auto;
	padding-bottom: 15px;
	padding-top: 5px;

}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

#content {
	width: 770px;
	margin: 0px auto;
	background-color: white;
}

p { 
	padding: 15px;
	font-size: 12px;
	line-height: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
}

/*****************************/		
/*  CSS SPRITE NAVIGATION     *
/*****************************/	

#MainNav ul li a {
	text-indent: 100%;
	white-space: no-wrap;
	overflow: hidden;
	display: block;
	height: 65px;
	width: 124px;
	background-image: url('../images/menu-sprite.jpg');
	float: left;
	background-position-y: -3px;
	margin-bottom: 5px;
}

#MainNav ul li a:hover {
	background-position-y: -72px;
	background-position-x: 3px;
}

#MainNav ul li.about a {
	background-position-x: -123px;
}

#MainNav ul li.contact a {
	background-position-x: 166px;
	width: 160px;
}

#MainNav ul li.home a.selected {
	background-position-y: -142px;
	background-position-x: 3px;
}

#MainNav ul li.about a.selected {
	background-position-y: -142px;
	background-position-x: -123px;
}

#MainNav ul li.contact a.selected {
	background-position-y: -142px;
	background-position-x: 166px;
}

