@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd-LightOblique.eot');
    src: url('fonts/AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd-LightOblique.woff') format('woff'),
         url('fonts/AvenirLTStd-LightOblique.ttf') format('truetype'),
         url('fonts/AvenirLTStd-LightOblique.svg#avenir') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd-Light.eot');
    src: url('fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd-Light.woff') format('woff'),
         url('fonts/AvenirLTStd-Light.ttf') format('truetype'),
         url('fonts/AvenirLTStd-Light.svg#avenier') format('svg');
    font-weight: normal;
    font-style: normal;
}

.top-bar {
  width: 100%;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 30px;
  position: absolute;
  background: #fff;
}

.logo {
  background: transparent url("../images/Tresor_logo2.svg") center center no-repeat;
  height: 45px;
  width: 170px;
  float: left;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: -55px;
} 

#wrapper {
  width: 960px;
  margin: 0 auto;
}

nav {
    width: 100%;
    position: fixed;
    min-height: 50px;
    padding: 0;
    margin-bottom: 20px;
    background-color: white;
    background-image: white;
    border-bottom: 1px solid #ddd;
    border-top: none;
    -webkit-box-shadow: 0px 0px 3px 1px #ebebeb;
    -moz-box-shadow: 0px 0px 3px 1px #ebebeb;
    box-shadow: 0px 0px 3px 1px #ebebeb;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

nav ul li { 
    float: right;
    width: 150px;
    font-family: "Avenir", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1em;
    font-size: .7em;
    border-left: 1px solid #ddd;
    padding: 23px 18px 23px 17px;
    margin-top: -1px;
    margin-right: -15px;
    color: #333;
    text-decoration: none;
    text-shadow: none;
    font-weight: 600;
    font-style: normal;
}

nav ul li:hover {
    background: black;
    color: white;
    cursor: pointer; 
}
 
nav ul li:first-child {
    border-right: 1px solid #ddd;
}

nav ul li a {
    line-height: 14px;
    font-size: 13px;
    padding-left: 31px;
    padding-right: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

nav ul li a:hover {
    color: white;
}

a { 
    color: #000;
    text-decoration: none;
    font-family: "Avenir", sans-serif;
}

a:hover {
  color: rgb(40, 40, 40);
  opacity:0.5;
  cursor: pointer;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
}

li ul { 
    text-decoration: none;
}

.caption { 
  font-size: 0.8em;
  font-family: "Avenir", sans-serif;
  color: #333;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.feature-caption {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 8px;
  font-family: "Avenir", sans-serif;
  color: #333;
  font-weight: 200;
}

.large-caption { 
  display: inline-block;
  margin-top: 405px;
  font-size: 0.8emem;
  font-family: "Avenir", sans-serif;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-weight: 200;
}

#mainWrapper { 
    width: 960px;
    margin: 65px auto;
    height: auto;
}

.column, .columns {
    position: relative;
    padding-left: 0.33333rem;
    padding-right: 0.33333rem;
}

.top-row {
  margin-top: 65px;
}

.large-feature {
  margin-bottom: 25px;
}

.footer {
    width: 100%;
    position: absolute;
   /* bottom: 0;*/
    margin-bottom: 0px;
   /* left: 0;*/
    padding: 40px 0;
    background: #333;
    color: #fff;
    font-size: 14px;
    height: 65px;
    margin-top: 25px;
    font-family: "Avenir", sans-serif;
}

.footer-content {
  width: 980px;
  margin: 0 auto;
  /*position: relative;*/
  font-family: "Avenir", sans-serif;
}

.footer-content a {
  color: white;
}

.footer-content a:hover {
   font-family: "Avenir", sans-serif;
   color: yellow;
}

/*javascript experiments for blog page */

.test{
 width: 500px;
  height: 500px;
  position: relative;
  margin-top:80px;
  margin-left:150px;
  border:50px solid hsl(100,50%,50%);
  padding:10px;
 -webkit-animation-name: wobble;
}

.test:before{
  border:50px solid orange;
  width:610px;
  height:610px;
  position:absolute;
  z-index:-1;  
  content: "";
  right:-100px;
  top:-100px;
  display: inline-block;
  /* -webkit-transform:rotate(30deg); */
  -webkit-animation:clockwise 20s infinite;
  }
  
  .test:after{
  border:50px solid red;
  width:420px;
  height:420px;
  position:absolute;
  z-index:-2;  
  content: "";
  top:0px;
  right:0px;
  display: inline-block;
 /* -webkit-transform:rotate(230deg); */
  -webkit-animation:counter-clockwise 30s infinite;
}

.test p{
  border:50px solid violet;
  position:relative;
  top:10px;
  right:-40px;
  text-align:center;
  width:320px;
  height:180px;
  padding-top:140px;
  z-index:0;
  display: inline-block;
 /* border-radius:100%; */ font-size:30px;
}

.test p:before{
  border:50px solid steelblue;
  width:220px;
  height:220px;
  position:absolute;
  z-index:2;  
  content: "";
  top:0px;
  right:0px;
  display: inline-block;
  /* -webkit-transform:rotate(30deg); */
  -webkit-animation:clockwise 30s infinite;
}

.test p:after{
  border:55px solid grey;
  width:120px;
  height:120px;
  position:absolute;
  z-index:-2;  
  content: "";
  top:50px;
  right:50px;
 display: inline-block;
  /* -webkit-transform:rotate(160deg); */
  -webkit-animation:counter-clockwise 20s infinite;
}


 @-webkit-keyframes clockwise {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
 
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
 }
 
 @-webkit-keyframes counter-clockwise {
  from {
    -webkit-transform: rotate(360deg);
 
    transform: rotate(360deg);
  }
 
  to {
    -webkit-transform: rotate(0deg);
    
    transform: rotate(0deg);
  }
 } */

 #js_experiment {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 400px;
 }






