

#container{
	width: 960px;
	margin: 0 auto;
	padding: 20px;
	background-color: #ccc;
}

#header {
	background-color: #B0B5BF;
	padding: 5px 20px;

}

h1 { 
	color: white;
}

h2 {
	margin-left: 10px;
}
h2 {
	padding-left: 10px;
}

p {
	font-size: 13px;
	line-height: 1.5em;
}

.sidebar {
	font-size: 11px;
	line-height: 1.8em;
}

#content {
	float: left;
	width: 560px;
	padding-left: 10px;
	background-color: white;
	margin-bottom: 10px;
}

.alignleft {
	float: left;
	margin: 10px;
}

/*.sidebar p.alignleft {
	color: white;
}*/

.sidebar {
	float: left;
	width: 380px;
	margin-left: 10px;
	margin-right: 0px;
	background-color: #AED9E6;
}

#footer {
	clear: both;
	margin-top: 15px;
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 15px;
	background-color: #E9CEF2;

}

.clearfix:after { /* expands collapsed parent to clear its height past its floating children */
 
  content: "."; /* adds html text of period symbol (:after) all opther children inside the parent with is .clear:after class applied to it. */
	
	display: block;  set newly created content: to display block 
	
	clear: both; /* sets the '.' content to clear past all of the floating children giving a height reference. */
	
	visibility: hidden; /* make the '.' content invisible. */
	
	line-height: 0; /* make sure it has no text line-height */
	height: 0; /* make sue it has no physical height */
}


